{% extends "base.html" %}

{% block titulo %}
    <title>CoderMed - Formularios</title>
{% endblock titulo %}

{% block contenido %}
    <div class="botonera-formularios">
        <a href="{% url 'afiliate'%}">Afiliate a CoderMed</a>
        <a href="{% url 'nuevo-especialista'%}">Ingresar nuevo Especialista (ADMIN)</a>
        <a href="{% url 'nuevo-hospital'%}">Ingresar nuevo Hospital (ADMIN)</a>
        <a href="{% url 'nueva-solicitud'%}">Solicitar Autorizacion (AFILIADOS)</a>
    </div>
{% endblock contenido %}