{% extends "base.html" %}

{% block titulo %}
    <title>CoderMed - Planes</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de Planes</h1>
    <h3>Aclaración: todos los planes incluyen la totalidad de hospitales y especialistas en cartilla</h3>
    <ul>
        <h2>Plan 100</h2>
        <li><h3>Cobertura de $300.000 o 70% en intervenciones de salud</h3></li>
        <li><h3>Cobertura de $150.000 o 50% en intervenciones plasticas</h3></li>
    </ul>
    <ul>
        <h2>Plan 200</h2>
        <li><h3>Cobertura de $500.000 o 85% en intervenciones de salud</h3></li>
        <li><h3>Cobertura de $400.000 o 70% en intervenciones plasticas</h3></li>
    </ul>
    <ul>
        <h2>Plan 300</h2>
        <li><h3>Cobertura de $1.000.000 o 90% en intervenciones de salud</h3></li>
        <li><h3>Cobertura de $750.000 o 85% en intervenciones plasticas</h3></li>
    </ul>
{% endblock contenido %}